/Client/SineOfMadness/.gradle
/Client/SineOfMadness/.idea
/Client/SineOfMadness/Library
/Client/SineOfMadness/build
/Client/SineOfMadness/obj
/Client/SineOfMadness/SineOfMadness.sln
/Client/SineOfMadness/SineOfMadness.sln.DotSettings.user
/Client/SineOfMadness/Assembly-CSharp.csproj
